apiVersion: v1
kind: Service
metadata:
  name: portfolio-video-service
  labels:
    app: portfolio-video
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: portfolio-video

