apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portfolio-video
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/portfolio-pages/portfolio-kjs  # 실제 Git 저장소 URL로 변경
    targetRevision: main
    path: k8s
    kustomize:
      path: k8s
      # kustomization.argocd.yaml 사용
      kustomizeOptions:
        buildOptions: "--load-restrictor LoadRestrictionsNone"
    
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

