apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
    - name: GitHub Container Registry
      prefix: ghcr.io
      api_url: https://ghcr.io
      credentials: ext:/auth/ghcr
      default: true
  git.user: "github-actions[bot]"
  git.email: "github-actions[bot]@users.noreply.github.com"
  log.level: info
  # 이미지 체크 간격 (기본값: 2분)
  check.interval: 2m

